canvas#container {
    position: absolute;
    width: 99vw;
    height: 99vh;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%,-50%);
}

* {
    margin: 0;
    padding: 0;
}

html {
    background: rgb(33,33,33);
}